@font-face {
  font-family: barlow;
  src: url(./fonts/BarlowCondensed-Regular.ttf); }
:root {
  --primary-font: "barlow", sans-serif;
  --dark-color: #153064; }

body {
  font-family: var(--primary-font);
  color: black;
  background-image: url("./imgs/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(4px); }

h1,
h2 {
  color: var(--dark-color);
  white-space: nowrap; }

h1 {
  font-size: 4rem;
  letter-spacing: 2px; }

h2 {
  font-size: 2rem;
  letter-spacing: 1.5px; }

p {
  font-size: 1.5rem;
  line-height: 2; }

a,
button,
input,
textarea {
  all: unset; }

ul {
  list-style: none;
  padding-left: 0; }

a:hover {
  color: var(--dark-color);
  cursor: pointer; }

.container {
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  flex-direction: column; }

header {
  display: flex;
  gap: 2rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5rem 0; }
  header ul {
    display: flex;
    gap: 2rem;
    flex-direction: row;
    width: 40%;
    justify-content: space-around; }
    header ul li {
      white-space: nowrap;
      font-size: 1.3rem; }

.menu {
  width: 90%;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: white;
  backdrop-filter: blur(2px);
  opacity: 0.6; }
  .menu ul {
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
    justify-content: space-around; }
    .menu ul li {
      font-size: 1.5rem;
      letter-spacing: 1.4px;
      font-weight: bold;
      white-space: nowrap; }
      .menu ul li:hover {
        cursor: pointer; }

section.home {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh; }
  section.home p {
    text-align: center;
    width: 70%; }

section.brands {
  display: flex;
  gap: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none; }
  section.brands div {
    width: 80%;
    margin: 0 auto;
    text-align: center; }
  section.brands video {
    width: 100%;
    border-radius: 1rem; }

section.contactus {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  display: none; }
  section.contactus .form {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 50vh;
    margin: 0 auto; }
    section.contactus .form button {
      align-self: flex-end; }

.input-div {
  display: flex;
  gap: 0.5rem;
  flex-direction: column; }

label {
  color: var(--dark-color);
  font-size: 1.2rem;
  font-weight: bold; }

input,
textarea,
button {
  border-radius: 0.5rem;
  padding: 0.75rem 1rem; }

input,
textarea {
  border: 1px solid gray;
  background-color: white; }

button {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--dark-color);
  border: 1px solid var(--dark-color); }
  button:hover {
    background-color: var(--dark-color);
    color: white;
    cursor: pointer; }

input.error,
textarea.error {
  border: 1px solid red; }

span.error {
  display: none;
  color: red; }

input:focus,
textarea:focus {
  border: 1px solid var(--dark-color); }

.selected {
  font-weight: bold;
  border-bottom: 1px solid var(--dark-color); }

.hide {
  display: none; }

@media (max-width: 769px) {
  header {
    flex-direction: column; }
    header img {
      align-self: center; }
    header ul {
      width: 100%; }

  section.home p {
    text-align: center;
    width: 100%; }

  h1 {
    font-size: 3rem; }

  .menu {
    font-size: 0.5rem; }

  section.contactus .form {
    width: 90%; } }

/*# sourceMappingURL=index.css.map */
